@import "../../varibles";
.header-container {
    background-color: rgba($color: #1d1d1d, $alpha: 0.7);
    position: fixed;
    top: 0;
    z-index: 99999;
    height: 10vh;
}

.myLogo {
    height: 7vh;
    
    &:hover {
        opacity: 0.7;
    }
}

.link-container {
    display: flex;
    justify-content: space-between;

    a {
        text-decoration: none;
        color: lightgray;
      
        font-size: 16px;
       
        margin-left: 1.5rem;
    
        &:hover {
            opacity: 0.9;
            color: $primary;
        }
    }
}