<div class="header-container d-flex align-items-center px-3 justify-content-between w-100" [ngClass]="{'bg-not-transparent' : showNavbar == true}">
    <div routerLink="/">
        <a href="#welcome"><img class="myLogo" src="assets/img/logo (5).png"></a>
    </div>
    <div routerLink="/" class="d-flex link-container poppins d-none d-lg-flex">
        <a href="#welcome" class="poppins">Home</a>
        <a href="#skills" class="poppins">Skills</a>
        <a href="#portfolio">Portfolio</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
    </div>
   
    <div (click)="hideNavbar()" class="d-lg-none d-block">
        <div class="bar" [ngClass]="{'bar1' : showNavbar == true}"></div>
        <div class="bar" [ngClass]="{'bar2' : showNavbar == true}"></div>
        <div class="bar" [ngClass]="{'bar3' : showNavbar == true}"></div>
    </div>
</div>
<div routerLink="/"  class="link-container-mobil poppins d-lg-none" [ngClass]="{'d-flex' : showNavbar == true}">
    <a (click)="hideNavbar()" href="#welcome" class="poppins">Home</a>
    <a (click)="hideNavbar()" href="#skills" class="poppins">Skills</a>
    <a (click)="hideNavbar()" href="#portfolio">Portfolio</a>
    <a (click)="hideNavbar()" href="#about">About</a>
    <a (click)="hideNavbar()" href="#contact">Contact</a>
</div>

