<div class="footer-container bg-white px-3 ps-6">
    <div class="d-flex footer-text-container">
        <p>Impressum </p>
        <span>-</span>
        <p> Created my free logo at <a class="text-dark text-decoration-none fw-bold" href="https://logomakr.com/" target=“_blank>LogoMakr.com</a></p>
        <span>-</span>
        <p>Icons by <a class="text-dark text-decoration-none fw-bold" href="https://icons8.com/" target=“_blank>Icons8.com</a></p>
    </div>
    <div>
        <a href="index.html" class="position-relative">
            <img class="footer-icon" src="../../assets/img/sidebar/github_grey.png">
            <img class="footer-icon-green" src="../../assets/img/sidebar/github_green.png">
        </a>
        <a href="index.html" class="position-relative">
            <img class="footer-icon" src="../../assets/img/sidebar/linkedin_grey.png">
            <img class="footer-icon-green" src="../../assets/img/sidebar/linkedin_green.png">
        </a>
        <a href="index.html" class="position-relative">
            <img class="footer-icon" src="../../assets/img/sidebar/xing_grey.png">
            <img class="footer-icon-green" src="../../assets/img/sidebar/xing_green.png">
        </a>
    </div>


</div>