<div class="footer-container bg-white px-3 ps-6">
    <div class="d-flex flex-column flex-lg-row footer-text-container poppins">
       
        <a routerLink="/imprint" href="#imprint">Impressum </a>
        <span class="d-none d-lg-block">-</span>
        <p>Icons by <a class="text-dark " href="https://icons8.com/" target=“_blank><em>Icons8.com</em></a></p>
        <span class="d-none d-lg-block">-</span>
        <p> Created my free logo at <a class="text-dark" href="https://logomakr.com/" target=“_blank><em>LogoMakr.com</em></a></p>
   
    </div>
    <div>
        <a href="https://github.com/FabianKalus" target="_blank"  class="position-relative">
            <img class="footer-icon" src="assets/img/sidebar/github_grey.png">
            <img class="footer-icon-green" src="assets/img/sidebar/github_green.png">
        </a>
        <a href="https://de.linkedin.com/in/fabian-kalus" target="_blank" class="position-relative">
            <img class="footer-icon" src="assets/img/sidebar/linkedin_grey.png">
            <img class="footer-icon-green" src="assets/img/sidebar/linkedin_green.png">
        </a>
        <a href="https://www.xing.com/profile/Fabian_Kalus/cv" target="_blank" class="position-relative">
            <img class="footer-icon" src="assets/img/sidebar/xing_grey.png">
            <img class="footer-icon-green" src="assets/img/sidebar/xing_green.png">
        </a>
    </div>


</div>