<div id="about" class="about-container ps-6">
    <div class="d-flex justify-content-center">
        <img class="about-img" src="assets/img/aboutme.jpeg">
        <div class="about-text py-2">
            <p class=" fs-1 pb-2 subtitle">Me, Myself & I</p>
            <p class="">
                My journey began as a german police officer based in Frankfurt am Main. Now I'm a Front-end developer. You might think that these professionals are totally different because they are. But that's why I chose it.
                <br><br>
                A few years ago in South Africa, I got addicted to surfing and, in general, traveling. Meeting new people with amazing background stories, learning new skills, getting to know different kinds of lifestyles, and at the end of the day, watching the sunset behind the mountains. 
                <br><br>         
                Last year I realized that 30 days of holiday per year are not enough time for me to stay at the ocean. Based on my math skills, my way of logical understanding, my gaming experience from my early 20's, and of course, the possibility of working remotely, I decided to become a web developer.
                <br><br>  
                I know, addicted to traveling isn't the most popular quality to say in an interview, but it would be wrong not to state what my expectations are upfront. And you know, if you give me the opportunity to live my dream, I will work very hard to keep it.
            </p>
        </div>
    </div>
</div>