<div id="about" class="ps-6 d-flex position-relative">
    <img class="about-img " src="../../assets/img/aboutme.jpeg">
    <div class="about-text px-2 mx-auto">
        <p class="fw-bold fs-1">About me</p>
        <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quae omnis quibusdam dolor, distinctio
            adipisci reprehenderit sed doloribus repellat nulla id, ducimus enim rerum? Tempora molestias enim velit
            nesciunt vel!</p>
    </div>
   

</div>