<div class="about-container ps-6" data-aos="flip-right" data-aos-duration="1500">
    <div class="d-flex justify-content-center flex-md-row flex-column">
        <img class="about-img" src="assets/img/aboutme.jpeg"  >
        <div class="about-text py-2" >
            <p class=" fs-1 pb-2 subtitle">Me, Myself & I</p>
            <div class="about-description">
                <p class="pb-lg-1 pb-2"> My path might not be common but that’s boring anyways, right? 
                    My journey began in Frankfurt am Main, Germany, as a police officer. Today I am a front-end developer. You might wonder why I chose such contradicting career paths. The difference is precisely the reason.
                                   </p>
                <p class="pb-lg-1 pb-2">My addiction to surfing and travelling began a few years ago in South Africa. I soon realized that I need more change in my life. Combining exploring new places with the lifestyle of a digital nomad, motivated me to pursue other career paths. My rational and logical thinking, as well as my passion for gaming, convinced me to use my mathematical skills for the path of front-end development. I soon discovered my interest and passion and noticed a shift of focus from my profession as a police officer to my laptop. 
                </p>
                <p class="pb-lg-1 pb-2">Honesty is very important to me. I, therefore, feel obligated to share my curiosity for new places, new experiences and people, as well as my eagerness to become a remote developer. 
                </p>
                <p>Scientists long have shown that happy employees are better employees. Let me show you how my aim to travel and work remotely will make you just as happy as me. 
                </p>
               



            </div>
        </div>
    </div>
</div>