.about-img {
    
    height: 70vh;
    object-fit: cover;
    margin: auto 0;
    position: absolute;
    left: 0;
}

.about-text {
    background-color: white;
    height: 90vh;
    width: 50%;
    
}