@import "../../varibles";
@import "~bootstrap-icons/font/bootstrap-icons.css";

.caveat {
    font-family: 'Caveat', cursive;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    color: gray;
}

.contact-form {
    display: flex;
    flex-direction: column;

    input {
        background-color: rgb(66, 65, 65);
        width: 48%;
        outline: none;
        border: none;
        margin-bottom: 1rem;
        color: white;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
        font-style: italic;
        &::placeholder {
            color: gray;
        }
    }

    textarea {
        background-color: rgb(66, 65, 65);
        outline: none;
        border: none;
        margin-bottom: 0.5rem;
        color: white;
        padding-top: 0.5rem;
        padding-bottom: 0.25rem;
        padding-left: 0.5rem;
        font-style: italic;
        resize: none;
        &::placeholder {
            color: gray;
        }
    }

    label {
        letter-spacing: 0.5px;
        padding-bottom: 0.5rem;
      
        
    }

    button {
        margin-top: 1rem;
        align-self: flex-end;
        width: 50%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

p {
    margin-bottom: 0;
    margin-top: 0!important;
}

.germany {
    object-fit: contain;
    height: 80vh;
    
}