@import "../../varibles";
@import "~bootstrap-icons/font/bootstrap-icons.css";

.contact-container {
    height: 100vh;
}

.contact-form {
    display: flex;
    flex-direction: column;

    input {
        background-color: rgb(66, 65, 65);
        width: 49%;
        outline: none;
        border: none;
        margin-bottom: 1rem;
        color: white;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
        font-style: italic;
        &::placeholder {
            color: gray;
        }
    }

    textarea {
        background-color: rgb(66, 65, 65);
        outline: none;
        border: none;
        margin-bottom: 0.5rem;
        color: white;
        padding-top: 0.5rem;
        padding-bottom: 0.25rem;
        padding-left: 0.5rem;
        font-style: italic;
        resize: none;
        &::placeholder {
            color: gray;
        }
    }

    label {
        letter-spacing: 0.5px;
        padding-bottom: 0.5rem;
    }

    button {
        margin-top: 1rem;
        align-self: flex-end;
        width: 50%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

.germany {
    object-fit: contain;
    height: 90vh;
    
}

@media (max-width: 992px) {
    .contact-container {
        width: 100vw;
    }
    .germany {
        height: 75vh;
    }

}

@media (max-width: 768px) {
    .germany {
        height: auto;
        width: 50vw;
    }

}



