@import "../../varibles";
@import "~bootstrap-icons/font/bootstrap-icons.css";


.skill-container {
    position: relative;
}

.skill-ball-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.down-icon-container {
    position: absolute;
    left: calc(50% - 75px);
    transform: translate(50px, 0);
    bottom: 100px;
}

.down-icon {
    height: 50px;
    width: 50px;
    position: absolute;
    cursor: pointer;

}

.down-icon-green {
    height: 50px;
    width: 50px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }
}

.skill-text {
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 17px;
}

@media (max-width: 992px) {
    .skill-container {
        width: 100vw;
        margin-left: 0!important;
    }
}

@media (max-width: 992px) {
    canvas {
        width: 80vw!important;
        padding: 0 auto!important
    }
    .skill-ball-container {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .down-icon-container {
        bottom: 25px;
    }
}

