
<div class="skill-container px-3 ps-6 py-3 d-flex flex-column flex-md-row justify-content-between align-items-start">
    <div class="col-md-5 col-12" data-aos="zoom-in" data-aos-duration="1000">
        <span class="caveat">&lt; h2 &gt;</span>
        <p class="subtitle text-primary">Skillset</p>
        <span class="caveat">&lt; /h2 &gt;</span><br><br>
        <span class="caveat">&lt; p &gt;</span>
        <p class="fw-bold text-white">
            During my time at the Developer Academy, I learned, under professional guidance, and feedbacked the development skills by building landing pages and pages and several web apps as well as OOP-based Jump-and-Run-Games with the respective technologies. I did several group projects where I learned how to develop a software project in a team.
            <br><br>
            My way of life is never to stop exploring and developing myself. I want to implement this on my journey as a front-end developer. So if you miss some critical skills for your company, contact me, and we will discuss them.  
        </p>
        <span class="caveat">&lt; /p &gt;</span>
    </div>
    <div class="skill-ball-container" data-aos="zoom-in" data-aos-duration="1500">
        <div id="myCanvasContainer">
            <canvas width="500" height="450" id="myCanvas" class="">
                <p class="fw-bold">Anything in here will be replaced on browsers that support the canvas element</p>
            </canvas>
        </div>
        <div id="tags">
            <ul style="display: none;">
                <li><a class="fw-bold" style="font-weight: bold!important;" href="http://www.google.com"
                        target="_blank">Java script</a></li>
                <li><a >HTML</a></li>
                <li><a >CSS</a></li>
                <li><a >SCSS</a></li>
                <li><a >SASS</a></li>
                <li><a >Angular</a></li>
                <li><a >Git</a></li>
                <li><a >Design Thinking</a></li>
                <li><a >Databases</a></li>
                <li><a >Test automation</a></li>
                <li><a >Rest API</a></li>
                <li><a >Typescript</a></li>
                <li><a >npm</a></li>
                <li><a >SCRUM</a></li>
                <li><a >bootstrap</a></li>
                <li><a >Wordpress</a></li>
            </ul>
        </div>
    </div>
    <a href="#portfolio" class="down-icon-container"> 
        <img src="assets/img/down_icon.png" class="down-icon">
        <img src="assets/img/down_icon_green.png" class="down-icon-green">
    </a>
</div>