<div class="px-5 py-3 d-flex justify-content-between align-items-center">
    <span class="caveat">&lt; h2 &gt;</span>
    <p class="text-white fw-bold" style="font-size: 36px;">My skills</p>
    <span class="caveat">&lt; /h2 &gt;</span>
</div>
<div class="px-5 d-flex justify-content-center">
    
    <div class="skill-ball-container">
        <div id="myCanvasContainer">
            <canvas width="500" height="450" id="myCanvas" class="fw-bold">
                <p class="fw-bold">Anything in here will be replaced on browsers that support the canvas element</p>
            </canvas>
        </div>
        <div id="tags">
            <ul style="display: none;">
                <li><a class="fw-bold" style="font-weight: bold!important;" href="http://www.google.com"
                        target="_blank">Java script</a></li>
                <li><a data-weight="20" href="/fish">HTML</a></li>
                <li><a href="/chips">CSS</a></li>
                <li><a href="/salt">SCSS</a></li>
                <li><a href="/salt">SASS</a></li>
                <li><a href="/vinegar">Angular</a></li>
                <li><a href="/vinegar">Git</a></li>
                <li><a href="/vinegar">Design Thinking</a></li>
                <li><a href="/vinegar">Databases</a></li>
                <li><a href="/vinegar">Test automation</a></li>
                <li><a href="/vinegar">Rest API</a></li>
                <li><a href="/vinegar">Typescript</a></li>
                <li><a href="/vinegar">npm</a></li>
                <li><a href="/vinegar">SCRUM</a></li>
                <li><a href="/vinegar">bootstrap</a></li>
                <li><a href="/vinegar">Wordpress</a></li>
            </ul>
        </div>
    </div>
</div>