
<div class="skill-container px-3 ps-6 py-3 d-flex flex-column flex-lg-row justify-content-between align-items-center">
    <div class="col-lg-5 col-12" data-aos="zoom-in" data-aos-duration="1000">
        <span class="caveat">&lt; h2 &gt;</span>
        <p class="subtitle text-primary">Skillset</p>
        <span class="caveat">&lt; /h2 &gt;</span><br><br>
        <span class="caveat">&lt; p &gt;</span>
        <p class="skill-text" *ngIf="german == false">
            My eagerness to discover new technologies and to challenge myself led me on the path of IT. I am a trained and certified front-end developer with expertise in building customer-facing websites. I also develop backend systems and create computer games. With professional guidance, I learn about all of the technologies required to create complete websites. Several group projects offered me invaluable experience in managing and building software applications. With my dedication and skill, your company’s software projects are guaranteed to thrive.
            <br><br>
            Contact me to discuss further details about your proposal. As a front-end developer, my knowledge is at your disposal!
        </p>
        <p class="skill-text" *ngIf="german == true">
            Mein Eifer, Neues zu entdecken und mich selbst herauszufordern, führte mich auf den Weg der IT. Ich bin ausgebildeter und zertifizierter Frontend-Entwickler mit Expertise in der Erstellung von (Landing-)Pages, sowie der Entwicklung von Applikationen und OOP-basierten Games. Unter professioneller Anleitung hatte ich die Möglichkeit, entsprechende Technologien zur Erstellung von Websiten kennenzulernen. Mehrere Gruppenprojekte boten die einzigartige und lehrreiche Erfahrung, gemeinsam Softwareprojekte zu entwickeln. Mein Engagement und meine Disziplin sind die Schlüsselmerkmale, die einen erfolgreichen Weg für Ihr Unternehmen garantieren.
            <br><br>
            Nehmen Sie Kontakt mit mir auf, um weitere Details über Ihr Angebot zu besprechen. Als Frontend-Entwickler bringe ich mein Know-how gerne für Sie ein!

        </p>
        <span class="caveat">&lt; /p &gt;</span>
    </div>
    <div class="skill-ball-container ms-0 ms-lg-3 " data-aos="zoom-in" data-aos-duration="1500">
        <div id="myCanvasContainer">
            <canvas width="500" height="500" id="myCanvas" class="">
                <p class="fw-bold">Anything in here will be replaced on browsers that support the canvas element</p>
            </canvas>
        </div>
        <div id="tags">
            <ul style="display: none;">
                <li><a class="fw-bold" style="font-weight: bold!important;" href="http://www.google.com"
                        target="_blank">Java script</a></li>
                <li><a >HTML</a></li>
                <li><a >CSS</a></li>
                <li><a >SCSS</a></li>
                <li><a >SASS</a></li>
                <li><a >Angular</a></li>
                <li><a >Git</a></li>
                <li><a >Design Thinking</a></li>
                <li><a >Databases</a></li>
                <li><a >Test automation</a></li>
                <li><a >Rest API</a></li>
                <li><a >Typescript</a></li>
                <li><a >npm</a></li>
                <li><a >SCRUM</a></li>
                <li><a >bootstrap</a></li>
                <li><a >Wordpress</a></li>
            </ul>
        </div>
    </div>
    
</div>