<div class="px-5 py-4 col-12 d-flex justify-content-between">
    <div class="portfolio-left col-6 pe-2">
        <div class="pb-4">
            <span class="caveat">&lt; h2 &gt;</span>
            <p class="text-secondary fw-bold" style="font-size: 36px;">Portfolio</p>
            <span class="caveat">&lt; /h2 &gt;</span>
        </div>
        <div class="portfolio-element">
            <div class="position-relative d-flex align-items-center flex-column" (mouseenter)="playVideo()"
                (mouseleave)="pauseVideo()">
                <div class="portfolio-element-surface">
                    <video class="portfolio-video mx-auto" *ngIf="videoPlay" preload="auto" autoplay loop
                        [muted]="'muted'">
                        <source class="mx-auto" src="assets/videos/Funny rubbit's 10 sec video.mp4" type="video/mp4">
                    </video>
                    <div class="empty-div" *ngIf="!videoPlay"></div>
                    <div class="view-at-container">
                        <a href="#"><img class="view-at-icon" src="assets/img/portfolio/github-fill.png"></a>
                        <a href="#"><img class="view-at-icon" src="assets/img/portfolio/laptop.png"></a>
                    </div>
                </div>
                <img class="portfolio-img" src="assets/img/portfolio/ringOfFire.png">
                <div class="ring-element ps-1 pe-2">
                    <p class="portfolio-element-title">Ring of fire</p>
                    <p class="portfolio-element-text ">Lorem ipsum dolor, sit amet consectetur
                        adipisicing
                        elit. Consequatur repellendus dolor, tempore
                        incidunt quidem perferendis. Cupiditate, ab nam harum ea distinctio.</p>
                </div>
            </div>

        </div>
    </div>
    <div class="portfolio-right col-6 ">

    </div>
</div>