@import "../../varibles";

.sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 150px;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    
    z-index: 999999;
}

.inner-sidebar-container {
    position: fixed;
    width: 150px;
    height: 100vh;
    border-right: 2px solid black;
}

.logo-container {
    width: 100%;
    height: 28vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    img {
        width: 120px;
        
    }
}

.logo-subtitle {
    color: rgb(158, 148, 148);
    font-size: 12px;
    font-style: italic;
}

.navbar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55vh;
    font-size: 14px;
    
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #909096;
        width: 100%;
        height: 20%;
        border-bottom: 1px solid gray;

        &:hover {
            color: $secondary!important;
        }
        
    }
}

.quicklinks-container {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 10px;
    width: 100%;
    

    img {
        height: 23px;
    }
}

.quicklinks-icon-green {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    &:hover {
        opacity: 1;
    }
}

.active-color {
    color: #2dfcd8!important;
}