<div class="sidebar-container">
    <div class="logo-container">
        <a href="index.html"><img class="myLogo" src="assets/img/logo (4).png"></a>
        <p class="text-white fw-bold">Fabian Kalus</p>
        <p class="logo-subtitle">- web developer -</p>
    </div>
    <div class="navbar-container">
        
        <a href="#" style="border-top: 1px solid gray;">SKILLS</a>
        <a href="#">SKILLS</a>
        <a href="#">SKILLS</a>
        <a href="#">SKILLS</a>
        <a href="#">SKILLS</a>
    </div>
    <div class="quicklinks-container">
        <a href="index.html"><img class="myLogo" src="../../assets/img/down_icon.png"></a>
        <a href="index.html"><img class="myLogo" src="../../assets/img/down_icon.png"></a>
        <a href="index.html"><img class="myLogo" src="../../assets/img/down_icon.png"></a>
    </div>
</div>
