<div class="sidebar-container">
    <div class="inner-sidebar-container">
        <div class="logo-container">
            <a href="#welcome"><img class="myLogo" src="assets/img/logo (4).png"></a>
            <p class="text-white fw-bold">Fabian Kalus</p>
            <p class="logo-subtitle">- web developer -</p>
        </div>
        <div class="navbar-container poppins">
            <a href="#welcome" style="border-top: 1px solid gray;">Home</a>
            <a href="#about">About</a>
            <a href="#skills">Skills</a>
            <a href="#portfolio">Portfolio</a>
            <a href="#contact">Contact</a>
        </div>
        <div class="quicklinks-container">
            <a href="https://github.com/FabianKalus" target="_blank" class="position-relative">
                <img class="quicklinks-icon" src="assets/img/sidebar/github_grey.png">
                <img class="quicklinks-icon-green" src="assets/img/sidebar/github_green.png">
            </a>
            <a href="https://de.linkedin.com/in/fabian-kalus" target="_blank" class="position-relative">
                <img class="quicklinks-icon" src="assets/img/sidebar/linkedin_grey.png">
                <img class="quicklinks-icon-green" src="assets/img/sidebar/linkedin_green.png">
            </a>
            <a href="https://www.xing.com/profile/Fabian_Kalus/cv" target="_blank" class="position-relative">
                <img class="quicklinks-icon" src="assets/img/sidebar/xing_grey.png">
                <img class="quicklinks-icon-green" src="assets/img/sidebar/xing_green.png">
            </a>
        </div>
    </div>
</div>