<div class="text-white px-5 pb-1 fw-bold fs-1 d-flex align-items-center justify-content-between">
    <div class="display-4 fw-bold">
        <span class="caveat">&lt; body &gt;</span>
        <p class="">
            <span class="caveat">&lt; h1 &gt;</span><br>
            Hi,<br>
            I´<span class="text-secondary">m</span> Fabian
                <span class="firstF">K</span>
                <span class="text-primary position-absolute">K</span>
                <span class="text-dark">K</span>alus<br>
            front e<span class="text-primary">n</span>d developer<span class="caveat">&lt; /h1 &gt;</span>
        </p>
        <a href="#">
        <span class="caveat">&lt; /button &gt;</span><br>
        <button class="btn btn-outline-secondary fw-bold px-3 py-1">
            Contact me
        </button><br>
        <span class="caveat">&lt; /button &gt;</span>
        </a>
    </div>
    
    <div>
        <img src="../../assets/img/welcom (2).jpg" class="welcome-img">
    </div>
</div>
<div class="d-flex justify-content-center pb-5"> 
    <img src="assets/img/down_icon.png" class="down-icon">
    <img src="assets/img/down_icon_green (2).png" class="down-icon-green">
</div>
