@import "../../varibles";
@import "~bootstrap-icons/font/bootstrap-icons.css";

.firstF {
    color: $secondary;
    position: absolute;
    margin-left: -3px;
}

.welcome-img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 100%;
}

.down-icon {
height: 50px;
width: 50px;
position: absolute;
cursor: pointer;
}

.down-icon-green {
    height: 50px;
    width: 50px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }

}