@import "../../varibles";
@import "~bootstrap-icons/font/bootstrap-icons.css";



.welcome-container {
    padding-top:2rem;
}

.welcome-img {
    height: 27vw;
    width: 27vw;
    object-fit: cover;
    border-radius: 100%;
}


.firstF {
    color: $secondary;
    position: absolute;
    margin-left: -4px;
}

a {
    text-decoration: none;
}

@media (max-width: 960px) {
    
.welcome-container {
    padding-top: 10vh;
}

}