@import "../../varibles";
@import "~bootstrap-icons/font/bootstrap-icons.css";

.firstF {
    color: $secondary;
    position: absolute;
    margin-left: -4px;
}

.welcome-img {
    height: 25vw;
    width: 25vw;
    object-fit: cover;
    border-radius: 100%;
}

.down-icon {
height: 50px;
width: 50px;
position: absolute;
cursor: pointer;

}

.down-icon-green {
    height: 50px;
    width: 50px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }

}

.caveat {
    font-family: 'Caveat', cursive;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    color: gray;
   
}

a {
    text-decoration: none;
}