<div id="welcome" class="welcome-container px-3 ps-6 pb-1
 d-flex align-items-start  justify-content-between
 flex-column-reverse flex-md-row position-relative">
    <div class="welcome-header display-3 fw-bold d-flex flex-column text-white">
        <span class="caveat pb-1 d-none d-md-flex">&lt; html &gt;</span>
        <span class="caveat d-none d-md-flex">&lt; body &gt;</span>
        <div class="">
            <span class="caveat">&lt; h1 &gt;</span><br>
            Hi,<br>
            I´<span class="text-secondary">m</span> Fabian
            <div>
            <span class="firstF">K</span>
            <span class="text-primary position-absolute">K</span>
            <span class="text-dark">K</span>alus<br>
            </div>
            Front E<span class="text-primary">n</span>d developer<span class="caveat">&lt; /h1 &gt;</span>
        </div>
        
            <a href="#skills" class="d-flex flex-column py-3">
                <span class="caveat">&lt; /button &gt;</span>
                <button class="btn btn-outline-secondary px-3 py-1 my-2 col-7 col-md-5 fw-bold">
                    Contact me
                </button>
                <span class="caveat">&lt; /button &gt;</span>
            </a>
    </div>
    <div class="d-flex align-items-center d-none d-md-flex" style="height: 100%;" >
        <img src="assets/img/welcom (2).jpg" class="welcome-img">
    </div>
    <div class="welcome-img-container-mobil d-flex d-md-none w-100 justify-content-center">
        <img src="assets/img/welcom (2).jpg" class="welcome-img">
    </div>
    <a href="#skills" class="down-icon-container"> 
        <img src="assets/img/down_icon.png" class="down-icon">
        <img src="assets/img/down_icon_green.png" class="down-icon-green">
    </a>
</div>
