@import "./varibles";

// bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

@import "./fonts.css";


body {
    font-family: sans-serif;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    background-color: #1d1d1d;

}


p {
    margin-bottom: 0!important;
    margin-top: 0!important;
}

.caveat {
    font-family: 'Caveat', cursive;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    color: gray;
}

.poppins {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
}

.bree {
    font-family: 'Bree Serif', serif;
    font-weight: 600!important;
    letter-spacing: 1px;
}


.ps-6{
    margin-left: 150px;
}

.subtitle {
    font-size: 48px;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
}

.modal-open { overflow-y: hidden; }

@media (max-width: 992px) {
    .ps-6{
        margin-left: 0;
    }
}
